* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {

    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    column-gap: 25px;
    row-gap: 25px;
    border-top: 3px solid black;
    margin-top: 10px;
    margin-left: 100px;
    margin-right: 100px;
}



img {
    width: 80px;
    height: 80px;
    display: block;
    margin: auto;
    margin-bottom: 10px;

}

.bloque {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
}