* {
    margin: 0;
    padding: 0;
}


h1 {
    background-color: grey;
}

h2 {
    background-color: rgba(128, 128, 128, 0.267);
    text-align: right;
    border-bottom: dashed 3px black;
}

.categorias {
    display: flex;
    align-items: center;

}

.producto {

    margin: 10px;
    border-top: 2px solid black;
    background-color: red;

}

.bloque {}