* {
    margin: 0;
    padding: 0;
}

.container {
    margin: 5px;
}

.titol {
    background-color: #686868;
    text-align: left;
    border-bottom: dashed 3px gray;
}

h2 {
    background-color: gray;
    text-align: right;

}

.categories {
    margin-top: 20px;
    display: flex;

}

.bloque {
    border-top: solid 5px gray;
    border-left: dashed 5px gray;
    border-right: dashed 5px gray;
    border-bottom: solid 5px gray;
    padding-left: 10px;
    padding-right: 10px;
    width: 150px;
    margin: 5px;

}

h3 {
    background-color: grey;
    padding: 5px;
    margin-top: 5px;
}

h4 {
    background-color: #686868;
    text-align: right;
    padding-right: 10px;
    color: #fff;
}

.referencia {
    border: solid 2px black;
    margin-top: 5px;
    margin-bottom: 5px;

}

p {
    padding: 10px;
}