* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div {
    width: 100px;

}



span {
    transition: 2s;
}

.h:hover {

    font-size: 100px;

}

.o:hover {
    font-size: 1rem;
    color: red
}

.l:hover {
    font-size: 500px;
}

.a:hover {
    color: yellow
}