.bordebarra {
    width: 500px;
    height: 50px;
    border: solid 2px black;
}

.barra {
    animation: mover 10s alternate;
    height: 100%;
    background: url(../img/corazon-mask.png);

}

@keyframes mover {
    0% {
        width: 0;

    }

    50% {
        width: 70%;
    }

    100% {
        width: 30%;
    }

}