* {
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    color: #fff;
}

body {
    /* background-color: #bfc1b0; */
    /* background-image: conic-gradient(red, yellow, green, blue, black); */
    background: url(../img/background2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.fons {

    margin: auto;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 25px;

}

.titol {
    text-transform: uppercase;
    letter-spacing: 30px;
    font-size: 40px;
    text-align: right;
    padding-right: 10px;
    color: yellow;

}

.titoldescrip {
    margin-top: 20px;
    margin-bottom: 20px;

}

h2 {
    background-image: url(../img/background2.jpg);
    font-size: 30px;
    padding: 2px;
}

.foto {
    text-align: center;
}

.textos {
    margin-top: 10px;
    margin-bottom: 10px;
}

.op {
    display: flex;
}

.segonafoto {
    flex-direction: row;
    flex-wrap: wrap;


}

.imgright {
    float: right;
}

.pat {
    padding-left: 10px;
}