* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

div {
    width: 400px;
    height: 400px;
    background-color: black;

    position: relative;
    color: black;


}


img {
    position: absolute;

}

p {
    position: relative;
    left: 20%;
    top: 30%;
    color: orange;
    font-size: 40px;
    opacity: 0;
    z-index: 10;
    /* transition: 4s; */

}

img:hover {
    opacity: 50%;
    /* transition: 4s; */
}


p:hover {
    opacity: 10;

}

div:hover p {
    opacity: 1;
    transition: 4s;

}