body {
    background-color: orangered;
}

#container {

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: initial;
    margin-left: 100px;
    margin-right: 100px;
}

h1 {
    color: #fff;
    letter-spacing: 5px;
    text-align: center;

}

.chistes {}

.gris {
    background-color: gray;
    border: dotted 5px black;
    padding: 40px;

}

.yellow {
    background-color: yellow;
    border: groove 5px black;
    padding: 40px;

}